body{
    font-family: 'Noto Sans JP', sans-serif;
    color:#40403E;
    background-color: #F0F2F1;
    display: inline-block;
}

input{
    border-radius:8px;
    border:solid #40403E;
    padding:6px 16px;
}

button{
    border-radius: 8px;
    border:solid #40403E;
    padding:4px 16px;
    margin:0px 2px;
}

button:hover{
    background-color: #79A89A;
    color:#FFF;
    cursor:pointer;
}

.Title{
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}

.input-area {
    background-color: #D0D8DA;
    border: 1px solid #40403E;
    width: 400px;
    height: 30px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.task-area {
    background-color: #F0F2F1;
    border: 2px solid #40403E;
    width: 400px;
    height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.red-task {
    border: 2px solid red;
}

.yellow-task {
    border: 2px solid #FAC61E;
}

.green-task {
    border: 2px solid green;
}

.task-area-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px; /* お好みで調整 */
}

.list-row {
    display: flex;
    align-items: center;
}

.todo-item {
    margin: 6px;
}